<h2> Add a user:</h2>
<br><br>

<form action="/adduser" method="POST">
    
    Username:
    <br>
    <input type="text" placeholder="username" name="username">
    <br><br>
    
    Team:
    <br>
    <input type="number" placeholder="team #" name="team">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>