<% include partials/header %>

You are currently viewing the welcome page.
<br>
<br>
<a href = "/allusers">See all the users [test]</a>
<br>
<a href = "/adduser">Create a user [test]</a>
<br>
<a href = "/signup">Sign up </a>

<% include partials/footer %>